nav{
    background-color: blue;
    color: white;
    padding: 5px;
}

nav ol li{
    list-style: none;
    display: inline;
  margin-top: 5px;
    text-align: center;
    justify-content:space-around;
    margin: auto;
    padding: 10px;
    font-size: 18px;

    
}
nav dl dt{
    display: inline;
    padding: 2px;
    
}
nav h2{
    margin: auto;
}

nav ol a{
    color: white;
    text-decoration: none;
}
nav ol a:hover{
    color: black;
}
#cart{
    color: white;
    text-decoration: none;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
#VASU{
    color: orange;
}